.bgch{
    background-color: #121212;
    min-height: 100vh ;
}
.bgch2{
    background-color: #1f1f1f;
}
.bgch3{
    background-color: #9e7aff;
}
.bgch4{
    background-color: #262626;
}
.bgch5{
    background-color: #414141;
}

.tch{
    color: #9e7aff
}
.tch2{
    color: #534a6a;
}
.tch3{
    color: #766996;
}
.tch4{
    color: #c9b8fa;
}
.tch5{
    color: #f0ecfc;
}

.pbh:hover{
    border: 1px solid #9d7aff;
    color: #121212;
    background-color: #9d7aff;
    box-shadow: 0 6px 20px #9d7aff5b;
    

}