.bgd{
    background-color: #121212
    ;
}

.bgd2{
    background-color: #1f1f1f
    ;
    border-radius: 20px;

                
}

.bgc{
    background-color: #2b2738;
}


.tc{
    color: #9e7aff;
}
.tc2{
    color: #c9b8fa;
}
.tc3{
    color: #534a6a;
}
